.Button {
  color: #f7b632;
  background-color: #321e17; 
}

.Carousel-card-button {
    color: red;
    border: 2px solid red;
}

.Carousel-Card {
  background-color: white;
}

.Carousel-card-button:hover {

    background-color: #f0f0f0;
    /*color: #321e17;*/
}

.Conversation {
  background-color: #e9e9e9;
}

.TextInput-textarea {
  background-color: white;
}

.SendButton {
  background-image: url(../images/ups-send-button.png);
}

.Header {
  color: white;
  background-color: red;
  /*background-image: url(./images/ups-header.png);*/
}

.Message-bubble--user {
  color: black;
  background-color: #f0f0f0;
}

.Message-bubble--service {
  color: #303030;
  background-color: white;
}

.Avatar-service {
    background-image: url(../images/foodie-avatar-service.png);
}

.Avatar-user {
    background-image: url(../images/foodie-avatar-user.png);
}

.quick-reply-button {
  border: 2px solid red;
  color: #303030;
}