.click-to-resume {
    position: absolute;
    display: block;
    left: 2px;
    bottom: 70px;
    cursor: pointer;
    background-color:#FAFAFA;
    border:1px solid #696969;
    z-index:999;
}

.click-to-resume img {
    float:left;
    height: 65px !important;
    opacity:.8;
}

.click-to-resume div {
  float: right;
  color:#696969;
  text-transform: uppercase;
}

.click-to-resume h4 {
  position:relative;
  font-size: 10pt;
  word-break: break-all;
  padding:10px;
  top:5px;
  font-weight:bold;
}
